*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
   background-color: hsl(226deg, 43%, 10%);
   font-family: sans-serif;
   color:white; 
}

.main-container{
  width: 328px;
  margin: 10rem auto;

    
}

.first-section{
   position: relative;
   border: 1px solid transparent; 
   
}
.main-card{    
    margin-bottom: 7rem;
}
.main-card__user{
    background-color:hsl(246, 80%, 60%);
    display: flex;
    border-radius: 1rem;
    padding: 32px; 
    padding-left: 33.75px;
    position: absolute;
    /* width: 100%; */
    z-index: 10;   
}

.main-card__image{
    width: 72px;
    margin-right: 0.8rem;
    border: 3px solid white;
    background-color: white;
    border-radius: 50%;
}
.main-title__report{
    font-size: 0.8rem;
    margin: 0.7rem 0 0.3rem;       
}

.main-title__name{
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}

.main-card__dates{
  background-color:  hsl(235deg, 46%, 20%);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  
  height: 6.5rem;
  padding-top: 3.2rem;
  width: 100%;
  position: absolute;  

  margin-top: 6.2rem;
  border-radius: 1rem;   
}

.main-card__dates:hover{
    background-color: hsl(246, 54%, 28%);;
}
.main-card__title:hover{
    cursor:pointer;
    color:hsl(246, 80%, 60%);
}
main_card--active{
  color:white;
}


/* second section */

.second-section{          
  margin-top: 13.5rem;
  
    
}

.card{
    position: relative;    
    margin-bottom: 7.5rem;       
    
 }
 .card-background1{
    background:hsl(15deg, 100%, 70%); ; 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    height: 4rem;

}

.card-background2{
    background:hsl(195, 74%, 62%); 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    height: 4rem;

}

.card-background3{
    background:hsl(348, 100%, 68%) ; 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    height: 4rem;

}
.card-background4{
    background:hsl(145, 58%, 55%); 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    height: 4rem;

}
.card-background5{
    background:hsl(264, 64%, 52%); 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    height: 4rem;

}
.card-background6{
    background: hsl(43, 84%, 65%); 
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    height: 4rem;

}
.card-image{
    margin-top: -0.6rem;
    padding-left: 15rem;  
}

.card-details{    
    background-color:  hsl(235deg, 46%, 20%);    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 9rem;

    border-radius: 1rem;
    margin-top: -2rem; 
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    width: 100%;
 }
 .card-details:hover{
    background-color: hsl(246, 80%, 60%);;
 }

.card-object{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title{
    font-size: 1.2rem;
    font-weight: 300;
}
.card-dots{
    margin: 10px 0 18px 90px;
}
.card-time{
    display: flex;
    justify-content: space-between; 
}

.card-title__hours{
    font-size: 1.5rem;
    font-weight: 300;
}


@media(min-width: 1200px){
 .main-container{
    
 }
}